<% layout('layouts/base.ejs') %>

<p class="d-none" data-order-id="<%= order._id %>" id="id"></p>

<div class="container pb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-9 col-md-10 col-12">
      <div class="mb-3">
        <h3 class="section-title">注文卓を変更</h3>
        <%- include('../partials/table') %>
      </div>

      <!-- 料理セクション -->
      <div class="mb-3">
        <h3 class="section-title">料理</h3>
        <% if (foodProducts.length) { %>
        <div class="row">
          <% for (let foodProduct of foodProducts) { %>
          <div class="col-lg-3 col-md-4 col-6 mb-4">
            <div class="card product-card h-100 shadow-sm">
              <div class="card-body text-center">
                <h5 class="card-title"><%= foodProduct.name %></h5>
                <p class="card-text price-text">¥ <%= foodProduct.price %></p>

                <div class="quantity-controller" data-product-name="<%= foodProduct.name %>" data-product-id="<%= foodProduct._id %>" data-product-price="<%= foodProduct.price %>">
                  <button class="minus-btn btn btn-sm btn-outline-secondary">-</button>
                  <span class="quantity">
                    <% let quantity = 0; %>
                    <% for (let orderProduct of order.products) { %>
                    <% if (orderProduct.product._id.toString() === foodProduct._id.toString()) { %>
                    <% quantity = parseInt(orderProduct.quantity, 10); %>
                    <% } %>
                    <% } %>
                    <%= quantity %>
                  </span>
                  <button class="plus-btn btn btn-sm btn-outline-secondary">+</button>
                </div>

              </div>
            </div>
          </div>
          <% } %>
        </div>
        <% } %>
      </div>

      <!-- ドリンクセクション -->
      <div class="mb-3">
        <h3 class="section-title">ドリンク</h3>
        <% if (drinkProducts.length) { %>
        <div class="row">
          <% for (let drinkProduct of drinkProducts) { %>
          <div class="col-lg-3 col-md-4 col-6 mb-4">
            <div class="card product-card h-100 shadow-sm">
              <div class="card-body text-center">
                <h5 class="card-title"><%= drinkProduct.name %></h5>
                <p class="card-text price-text">¥ <%= drinkProduct.price %></p>

                <div class="quantity-controller" data-product-name="<%= drinkProduct.name %>" data-product-id="<%= drinkProduct._id %>" data-product-price="<%= drinkProduct.price %>">
                  <button class="minus-btn btn btn-sm btn-outline-secondary">-</button>
                  <span class="quantity">
                    <% let quantity = 0; %>
                    <% for (let orderProduct of order.products) { %>
                    <% if (orderProduct.product._id.toString() === drinkProduct._id.toString()) { %>
                    <% quantity = parseInt(orderProduct.quantity, 10); %>
                    <% } %>
                    <% } %>
                    <%= quantity %>
                  </span>
                  <button class="plus-btn btn btn-sm btn-outline-secondary">+</button>
                </div>

              </div>
            </div>
          </div>
          <% } %>
        </div>
        <% } %>
      </div>

      <!-- その他セクション -->
      <div class="">
        <h3 class="section-title">その他</h3>
        <% if (otherProducts.length) { %>
        <div class="row">
          <% for (let otherProduct of otherProducts) { %>
          <div class="col-lg-3 col-md-4 col-6 mb-4">
            <div class="card product-card h-100 shadow-sm">
              <div class="card-body text-center">
                <h5 class="card-title"><%= otherProduct.name %></h5>
                <p class="card-text price-text">¥ <%= otherProduct.price %></p>

                <div class="quantity-controller" data-product-name="<%= otherProduct.name %>" data-product-id="<%= otherProduct._id %>" data-product-price="<%= otherProduct.price %>">
                  <button class="minus-btn btn btn-sm btn-outline-secondary">-</button>
                  <span class="quantity">
                    <% let quantity = 0; %>
                    <% for (let orderProduct of order.products) { %>
                    <% if (orderProduct.product._id.toString() === otherProduct._id.toString()) { %>
                    <% quantity = parseInt(orderProduct.quantity, 10); %>
                    <% } %>
                    <% } %>
                    <%= quantity %>
                  </span>
                  <button class="plus-btn btn btn-sm btn-outline-secondary">+</button>
                </div>

              </div>
            </div>
          </div>
          <% } %>
        </div>
        <% } %>
      </div>

      <div class="d-flex justify-content-center gap-3" id="button-container">
        <button id="confirmOrderBtn">注文の変更</button>
        <button id="deleteOrderBtn">注文の削除</button>
      </div>
    </div>
  </div>
</div>

<!-- オーダー変更用モーダルウィンドウ -->
<div id="orderModal" class="modal">
  <div class="modal-content">
    <h3>注文変更確認</h3>
    <p>注文を変更しますか？</p>
    <!-- 注文内容を表示するリスト -->
    <ul id="orderList" class="text-start"></ul>

    <div class="mt-auto text-start d-flex justify-content-center mx-5 mb-2" id="totalBlock">
      <span class="me-auto">合計金額</span><span id="totalPrice" class="ms-auto"></span>
    </div>
    <div class="d-flex justify-content-center mt-0">
      <button id="confirmBtn" class="btn-green btn">変更</button>
      <button id="cancelBtn" class="btn-secondary btn">キャンセル</button>
    </div>
  </div>
</div>

<!-- 削除確認モーダルウィンドウ -->
<div id="deleteModal" class="modal">
  <div class="deleteModal-content">
    <h3>注文削除確認</h3>
    <p><span id="tableName" class="me-1"></span>の注文を削除しますか？</p>

    <div class="d-flex justify-content-center mt-3">
      <button id="confirmDeleteBtn" class="btn-danger btn">削除</button>
      <button id="cancelDeleteBtn" class="btn-secondary btn">キャンセル</button>
    </div>
  </div>
</div>


<!-- CSSの読み込み -->
<link rel="stylesheet" href="/stylesheets/editOrder.css">

<!-- JavaScriptの読み込み -->
<script src="/js/editOrder.js"></script>