<% layout('layouts/base') %>

<div class="container" id="orderBlock">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 col-md-10 col-12">
      <h3 class="mb-0">現在受付中のオーダー</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">商品</th>
              <th scope="col">注文卓</th>
              <th scope="col">注文時間</th>
              <th scope="col">お会計</th>
              <th scope="col">状態</th>
              <th scope="col">状態の変更</th>
              <th scope="col">編集</th>
            </tr>
          </thead>
          <tbody>
            <% if (currentOrders.length>0) { %>
            <% for( let index = 0; index < currentOrders.length; index++ ) { %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td>
                <ul class="productList">
                  <% for( let currentOrderProduct of currentOrders[index].products) { %>
                  <% for( let index = 0; index < currentOrderProduct.quantity; index++ ) { %>
                  <li><%= currentOrderProduct.product.name %></li>
                  <% } %>
                  <% } %>
                </ul>
              </td>
              <td><%= currentOrders[index].orderedBy %></td>
              <td><%= new Date(currentOrders[index].createdAt).toLocaleDateString("ja-JP", { timeZone: "Asia/Tokyo",month: "short", day: "numeric" }) %> <%= new Date(currentOrders[index].createdAt).toLocaleTimeString("ja-JP", { timeZone: "Asia/Tokyo", hour: "2-digit", minute: "2-digit" }) %>
              <td><%= currentOrders[index].totalPrice %></td>
              <td>準備中</td>
              <td>
                <form action="/order/<%= currentOrders[index]._id %>?_method=PATCH" method="POST"><button class="btn btn-warning">完了にする</button></form>
              </td>
              <td><a href="/order/<%= currentOrders[index]._id %>" class="btn btn-success">編集</a></td>
            </tr>
            <% } %>
            <% } else { %>
            <tr>
              <td colspan="7" class="text-center">現在注文中のオーダーはありません</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-8 col-md-10 col-12">
      <h3 class="mb-0">お届け済みのオーダー</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">商品名</th>
              <th scope="col">注文卓</th>
              <th scope="col">注文時間</th>
              <th scope="col">お会計</th>
              <th scope="col">状態</th>
              <th scope="col">状態の変更</th>
              <th scope="col">編集</th>
            </tr>
          </thead>
          <tbody>
            <% if (previousOrders.length>0) { %>
            <% for( let index = previousOrders.length-1; index >=0; index-- ) { %>
            <tr>
              <th scope="row"><%= previousOrders.length-index %></th>
              <td>
                <ul class="productList">
                  <% for( let previousOrderProduct of previousOrders[index].products) { %>
                  <% for( let index = 0; index < previousOrderProduct.quantity; index++ ) { %>
                  <li><%= previousOrderProduct.product.name %></li>
                  <% } %>
                  <% } %>
                </ul>
              </td>
              <td><%= previousOrders[index].orderedBy %></td>
              <td><%= new Date(previousOrders[index].createdAt).toLocaleDateString("ja-JP", { timeZone: "Asia/Tokyo", month: "short", day: "numeric" }) %> <%= new Date(previousOrders[index].createdAt).toLocaleTimeString("ja-JP", { timeZone: "Asia/Tokyo", hour: "2-digit", minute: "2-digit" }) %></td>
              <td><%= previousOrders[index].totalPrice %></td>
              <td>
                お届け済
              </td>
              <td>
                <% if (previousOrders[index].isPaid) { %>
                <button class="btn btn-primary" disabled>会計済</button>
                <% }else{ %>
                <form action="/order/<%= previousOrders[index]._id %>?_method=PATCH" method="POST"><button class="btn btn-danger">未完了にする</button></form>
                <% } %>
              </td>
              <td><a href="/order/<%= previousOrders[index]._id %>" class="btn btn-success">編集</a></td>
            </tr>
            <% } %>
            <% } else { %>
            <tr>
              <td colspan="7" class="text-center">現在お届け済のオーダーはありません</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/stylesheets/showOrder.css">
<script src="/js/webSocket.js"></script>