<% layout('layouts/base') %>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8 mt-5">
      <h3>現在受付中のオーダー</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">商品名</th>
            <th scope="col">注文卓</th>
            <th scope="col">注文時間</th>
            <th scope="col">価格</th>
          </tr>
        </thead>
        <tbody>
          <% if (currentOrders.length>0) { %>
          <% for( let index = 0; index < currentOrders.length; index++ ) { %>
          <tr>
            <th scope="row"><%= index %></th>
            <td><%= currentOrders[index].product.price %></td>
            <td><%= currentOrders[index].orderedBy %></td>
            <td><%= currentOrders[index].createdAt %></td>
            <td><%= currentOrders[index].product.price %></td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-8 mt-5">
      <h3>お届け済みのオーダー</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">商品名</th>
            <th scope="col">注文卓</th>
            <th scope="col">注文時間</th>
            <th scope="col">価格</th>
          </tr>
        </thead>
        <tbody>
          <% if (presentOrders.length) { %>
          <% for( let index = 0; index < presentOrders.length; index++ ) { %>
          <tr>
            <th scope="row"><%= index %></th>
            <td><%= presentOrders[index].product.price %></td>
            <td><%= presentOrders[index].orderedBy %></td>
            <td><%= presentOrders[index].createdAt %></td>
            <td><%= presentOrders[index].product.price %></td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<link rel="stylesheet" href="stylesheets/createOrder.css">