<% layout('layouts/base.ejs') %>

<div class="container" id="orderBlock">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 col-md-10 col-12">
      <form action="/checkout" method="GET" class="mb-4 d-flex flex-column flex-md-row align-items-md-end">
        <div class="me-2 col-12 col-md-auto">
          <label for="date" class="form-label">日付を選択:</label>
          <input type="date" id="date" name="date" class="form-control" value="<%= date ? date.toISOString().slice(0, 10) : ''%>">
        </div>
        <button type="submit" class="btn btn-blue col-12 col-md-auto mt-2 mt-md-0">検索</button>
        <p class="col-12 col-md-auto ms-md-auto mt-2 mt-md-0" id="sendExcel">
          <%= date ? date.toISOString().slice(0, 10) : 'すべて' %>の会計情報をExcelに保存
        </p>
      </form>

      <h3 class="mb-0">未支払いの会計</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">商品名</th>
              <th scope="col">注文卓</th>
              <th scope="col">会計時間</th>
              <th scope="col">会計</th>
              <th scope="col">支払い</th>
            </tr>
          </thead>
          <tbody>
            <% if (unpaidCheckouts.length > 0) { %>
            <% for (let index = 0; index < unpaidCheckouts.length; index++) { %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td>
                <ul class="productList">
                  <% for (let unpaidCheckoutProduct of unpaidCheckouts[index].products) { %>
                  <% for (let i = 0; i < unpaidCheckoutProduct.quantity; i++) { %>
                  <li><%= unpaidCheckoutProduct.product.name %></li>
                  <% } %>
                  <% } %>
                </ul>
              </td>
              <td><%= unpaidCheckouts[index].checkoutedBy %></td>
              <td><%= new Date(unpaidCheckouts[index].createdAt).toLocaleDateString("ja-JP", { month: "short", day: "numeric" }) %> <%= new Date(unpaidCheckouts[index].createdAt).toLocaleTimeString("ja-JP", { hour: "2-digit", minute: "2-digit" }) %></td>
              <td><%= unpaidCheckouts[index].totalPrice %></td>
              <td><a href="/checkout/<%= unpaidCheckouts[index]._id %>" class="btn btn-danger">支払い</a></td>
            </tr>
            <% } %>
            <% } else { %>
            <tr>
              <td colspan="7" class="text-center">現在未支払いの会計はありません</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-8 col-md-10 col-12">
      <h3 class="mb-0">支払い済の会計</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">商品名</th>
              <th scope="col">注文卓</th>
              <th scope="col">会計時間</th>
              <th scope="col">会計</th>
            </tr>
          </thead>
          <tbody>
            <% if (paidCheckouts.length > 0) { %>
            <% for (let index = paidCheckouts.length - 1; index >= 0; index--) { %>
            <tr>
              <th scope="row"><%= paidCheckouts.length - index %></th>
              <td>
                <ul class="productList">
                  <% for (let paidCheckoutProduct of paidCheckouts[index].products) { %>
                  <% for (let i = 0; i < paidCheckoutProduct.quantity; i++) { %>
                  <li><%= paidCheckoutProduct.product.name %></li>
                  <% } %>
                  <% } %>
                </ul>
              </td>
              <td><%= paidCheckouts[index].checkoutedBy %></td>
              <td><%= new Date(paidCheckouts[index].createdAt).toLocaleDateString("ja-JP", { month: "short", day: "numeric" }) %> <%= new Date(paidCheckouts[index].createdAt).toLocaleTimeString("ja-JP", { hour: "2-digit", minute: "2-digit" }) %></td>
              <td><%= paidCheckouts[index].totalPrice %></td>
            </tr>
            <% } %>
            <% } else { %>
            <tr>
              <td colspan="7" class="text-center">現在支払い済の会計はありません</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="sendExcelModal" class="modal">
  <div class="modal-content">
    <h3 class="modal-title mb-3">会計情報の送信 (Excel)</h3>
    <form action="/checkout/sendEmail/<%= date ? date : 'all' %>" method="POST">
      <div class="form-group">
        <label for="email" class="form-label">メールアドレス</label>
        <input name="email" type="email" class="form-control mb-3" placeholder="your-email@example.com" required>
      </div>

      <div class="button-group">
        <button id="confirmBtn" class="btn btn-danger" type="submit">送信</button>
        <button id="cancelBtn" class="btn btn-secondary" type="button">キャンセル</button>
      </div>
    </form>
  </div>
</div>

<link rel="stylesheet" href="/stylesheets/showCheckoutsList.css">
<script src="/js/showCheckoutsList.js"></script>