<% layout('layouts/base.ejs') %>

<p class="d-none" data-checkout-id="<%= checkout._id %>" id="id"></p>

<div class="container px-3 px-md-0">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-10 pt-4" id="colBlock">
      <div class="checkout-header mb-1">
        <h4 class="text-center mb-2">お支払い</h4>
        <hr class="divider">
        <h1 class="text-center fw-bold mt-2 total-price">¥<%= checkout.totalPrice.toLocaleString() %></h1>
        <div class="displayFormBlock">
          <form action="/checkout/<%= checkout._id %>/coupon/tenpercent" method="POST">
            <button class="btn btn-discount <%= checkout.coupon === 'tenpercent' ? 'active' : '' %>" type="submit">10%引き</button>
          </form>
          <form action="/checkout/<%= checkout._id %>/coupon/100yen" method="POST">
            <button class="btn btn-discount <%= checkout.coupon === '100yen' ? 'active' : '' %>" type="submit">100円引き</button>
          </form>
        </div>
      </div>
      <hr class="divider mt-0">
      <div class="checkout-items">
        <ul class="list-group">
          <% for (let productData of checkout.products) { %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><%= productData.product.name %>&nbsp;×&nbsp;<%= productData.quantity %></span>
            <span>¥<%= (productData.product.price * productData.quantity).toLocaleString() %></span>
          </li>
          <% } %>
        </ul>
      </div>
      <hr class="divider">
      <a href="/checkout/<%= checkout._id %>/edit" class="btn-success btn btn-big my-2">変更</a>
      <button class="btn-orange btn btn-big mt-2 mb-4" id="showModal">¥現金支払い</button>
    </div>
  </div>
</div>

<div id="checkoutModal" class="modal">
  <div class="modal-content">
    <h3>お支払い最終確認</h3>
    <p>¥<%= checkout.totalPrice.toLocaleString() %>で決済を完了します</p>

    <div class="d-flex justify-content-center mt-0">
      <button id="confirmBtn" class="btn-danger btn">決済完了</button>
      <button id="cancelBtn" class="btn-secondary btn">キャンセル</button>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/stylesheets/showCheckout.css">
<script src="/js/showCheckout.js"></script>